$grey: #555555;
$lightGrey: #999999;
$lightestGrey: #dddddd;

$blue: #444455;
$lightBlue: #5555cc;
$lightestBlue: #ccccff;

$pink: #ee29da;
$lightPink: #FF88Ed;
$lightestPink: #FFccEe;
/* Coolors Exported Palette - coolors.co/247ba0-70c1b3-b2dbbf-f3ffbd-ff1654 */

$color1: #247ba0; //rgba(36, 123, 160, 100)
$color2: #70c1b3; //rgba(112, 193, 179, 100)
$color3: #b2dbbf; //rgba(178, 219, 191, 100)
$color4: #f3ffbd; //rgba(243, 255, 189, 100)
$color5: #ff1654; //rgba(255, 22, 84, 100)

$mobileBrk: 580px;
$tabletBrk: 890px;
$desktopBrk: 1120px;
$highresBrk: 1300px;
