.Sketch {
  padding: 10px;
  @extend .colFull;
  box-sizing: border-box;
  .inner {
    background-color: #333;
    position: relative;
    height: 200px;
    padding: 10px;
  }
  h3 {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 1.25em;
    color: $color5;
  }
  .filePath {
    clear: both;
    color: #888;
    font-size: .8em;
    padding: 4px 0 0 0;
  }
  .button {
    font-size: .9em;
    margin: 0 5px;
    position: relative;
    float: left;
    a {
      background-color: $color1;
      padding: 5px 10px;
      display: block;
      color: $color2;
      text-decoration: none;
    }
    a:hover {
      background-color: $color5;
      color: #fff;
    }
  }
  .buttons {
      overflow: hidden;
      position: absolute;
      bottom: 10px;
      right: 8px;
  }
  .description {
    color: $lightBlue;
    clear: both;
    padding-top: .5em;
  }
}

@media (min-width: $tabletBrk) {
  .Sketch {
    padding: 10px;
    @include colHalf;
  }
}

@media (min-width: $desktopBrk) {
  .Sketch {
    padding: 10px;
    @include colQuarter;
  }
}

@media (min-width: $highresBrk) {
  .Sketch {
    padding: 10px;
    @include colSixth;
  }
}
